.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}

.dialogs a {
    text-decoration: none;
    color: blue;
}

.dialogs a.activeLink {
    color: red;
}

.messages {
    color: blue;
}
